body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1877f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    width: 360px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1562b4;
}

h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.dob-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: #1562b4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1562b4;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons a {
    color: #1562b4;
    text-decoration: none;
    font-size: 14px;
}
